<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Origin of Plants</title>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="style.css">

</head>
<div class="container">
  <section class="row">
    <div class="col-md-12">
      <article class="description-content">
        <h1 class="description-header">What's the Origin of My Houseplant</h1>
        
    </div>
    <div class="col-md-12">
      <hr class="description-intro"/>
      <p>Most common houseplants originate from the tropics and subtropics. In order to thrive indoors, they must be adaptable to temperatures between 65 and 72 degrees Fahrenheit humidity between 30% & 60%. </p>
    </div>
    <div class= "col-lg-12"/>
      <img class=interactive map>
        &nbsp;&nbsp;Hover over a country on this map to see which houseplants originate from there.  <br><img src="https://via.placeholder.com/150" alt="interactive map">



<body>

  <!-- The div that holds our map -->
  <div id="map"></div>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

  <!-- Our JavaScript -->
  <script type="text/javascript" src="leaflet_maps.js"></script>
</body>

</html>
