<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Origin of Plants</title>


  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <!-- prevents favicon.ico error -->
  <link rel="icon" href="data:,">

</head>




<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Houseplants Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/search_by_plant">Search by Plant</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <section class="row">
      <div class="col-md-12">
        <!-- <article class="description-content"> -->
        <h1 class="description-header">What's the Origin of My Houseplant</h1>  
      </div>
    </section> 

    <section class="row"> 
      <div class="col-md-12">
        <hr class="description-intro"/>
        <p>Most common houseplants originate from the tropics and subtropics. In order to thrive indoors, they must be adaptable to temperatures between 65 and 72 degrees Fahrenheit humidity between 30% & 60%. </p>
      </div>
    </section>

    <div class='row'>
      <div class='col-sm-12'>
        <!-- map -->
        <h3>Select a Country</h3>
        <!-- The div that holds our map -->
        <div id="maphome"></div>
      </div>
    </div> 



    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script>

    <!-- D3 JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- JavaScript -->
    <script type="text/javascript" src="../static/data/countries.js"></script>
    <script type="text/javascript" src="../static/js/homepage.js"></script>
  </div>
</body>

</html>
